.text-container-animations {
    position: relative;
    margin: 0px 5px 5px 5px;
    animation: translateanimation 3s linear infinite;
}

@keyframes translateanimation {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    5% {
        transform: translateX(-20%);
        opacity: 0;
    }

    20% {
        transform: translateX(0%);
        opacity: 7;
    }

    90% {
        transform: translateX(0%);
        opacity: 7
    }

    95% {
        transform: translate(50%);
        opacity: 0
    }

    100% {
        transform: translate(50%);
        opacity: 0
    }
}


@media (min-width: 0px) {
    .about-title {
        /* transform: rotate(-90deg); */
        background-color: #f6ad55;
        color: white;
        padding: 4PX;
        display: inline-block;
        /* animation: rotateAbout 3s linear infinite; */
    }
}

@media (min-width: 1024px) {
    .about-title {
        transform: rotate(-90deg);
        background-color: #f6ad55;
        color: white;
        padding: 4PX;
        animation: rotateAbout 3s linear infinite;
    }
}




@keyframes rotateAbout {
    0% {
        transform: rotate(-90deg);
    }

    25% {
        transform: rotate(-80deg);
    }

    90% {
        transform: rotate(-100deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

.zoom-in-out-img {
    animation: zoom-in-zoom-out 10s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1) translateX(0px);
    }

    10% {
        transform: scale(0.98, 0.98) translateX(2px);
    }

    20% {
        transform: scale(0.96, 0.96) translateX(4px);
    }

    30% {
        transform: scale(0.94, 0.94) translateX(6px);
    }

    40% {
        transform: scale(0.92, 0.92) translateX(8px);
    }

    50% {
        transform: scale(0.90, 0.90) translateX(10px);
    }

    60% {
        transform: scale(0.92, 0.92) translateX(8px);
    }

    70% {
        transform: scale(0.94, 0.94) translateX(6px);
    }

    80% {
        transform: scale(0.96, 0.96) translateX(4px);
    }

    90% {
        transform: scale(0.98, 0.98) translateX(2px);
    }

    100% {
        transform: scale(1, 1) translateX(0px);
    }
}











